* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

:root {
    --main-color: #e6f0ff;
}

/*! COMMON */
.colored {
    background-color: var(--main-color);
}

.content {
    max-width: 111rem;
    margin: 0 auto;
}

.logo {
    color: #000228;
    font-weight: 600;
    font-size: 2.8rem;
    /* left: 0; */
}

/*! HEADER */
#header {
    height: 73.6rem;
}

.nav {
    display: flex;
    margin-top: 38px;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.nav-list {
    display: flex;
}

.nav-list__item {
}

.nav-account {
    display: flex;
}

.nav-account__signin {
}

.nav-account__signup {
}

.about {
}

.about__welcome {
}

.about__heading {
}

.about__desc {
}

.about__link {
}

/*! LOGO */
#client-logo {
    height: 31.2rem;
}

/*! DESCRIPTION */
#description {
    height: 58.5rem;
}

/*! FEATURE */
#feature {
    height: 158.7rem;
}

/*! NEWS */
#new {
    height: 40.9rem;
}

/*! FOOTER */
#footer {
    height: 42.9rem;
}
