/*! COMMON */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

:root {
    --main-color: #e6f0ff;
}

.colored {
    background-color: var(--main-color);
}

.content {
    max-width: 111rem;
    margin: 0 auto;
}

.small-content {
    max-width: 68.5rem;
    margin: 0 auto;
}

.medium-content {
    max-width: 101.7rem;
    margin: 0 auto;
}

.logo {
    color: #000228;
    font-weight: 600;
    font-size: 3rem;
}

/*! HEADER */
#header {
    height: 73.6rem;
}

.header-nav {
    display: flex;
    margin-top: 38px;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
}

.header-nav-list {
    display: flex;
    margin-left: -206px;
}

.header-nav-list__item {
    color: #4f5361;
}

.header-nav-list__item + .header-nav-list__item {
    margin-left: 28px;
}

.header-nav-account {
    display: flex;
}

.header-nav-account__general {
    padding: 10px 20px;
    color: #0f1b4c;
}

/*! BUTTONN */
.btn {
    display: inline-block;
    border-radius: 8px;
    color: #fff;
    background-color: #0f1b4c;
    align-items: center;
}
/*!  */

.header-about {
    margin-top: 138px;
    max-width: 55.9rem;
}

.header-about__welcome {
    font-size: 1.8rem;
    color: #687690;
}

.header-about__heading {
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 7.6rem;
    margin: 8px 0 30px 0;
    color: #000336;
}

.header-about__desc {
    font-size: 1.8rem;
    line-height: 3.2rem;
    font-weight: 400;
    color: #5a6473;
}

.header-about__link {
    font-size: 1.3rem;
    padding: 15px 38px;
    margin-top: 40px;
}

/*! LOGO */
#client {
    height: 31.2rem;
    margin-top: 122px;
}

.client-infor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-infor + .client-infor {
    margin-top: 15px;
}

.client-infor-wrap__item {
    display: inline-block;
    width: 2.03rem;
    height: 1.885rem;
    color: #ffca56;
    line-height: 3rem;
}

.client-infor__text {
    font-size: 1.6rem;
    color: #7d8589;
}

.client-logo {
}

/*! DESCRIPTION */
#desc {
    height: 58.5rem;
}

.desc-wrap {
    text-align: center;
}

.desc-heading {
    max-width: 45rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.desc-heading__title {
    font-size: 3.5rem;
    font-weight: 600;
    color: #000339;
    position: relative;
}

.desc-heading__title::before {
    content: "";
    display: block;
    position: absolute;

    width: 4.1rem;
    height: 0.4rem;
    background-color: #000339;

    left: 50%;
    top: -1rem;
    transform: translateX(-50%);
    border-radius: 8px;
}

.desc-heading__text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    margin-top: 2rem;
    color: #5a6473;
}

.desc-guide {
    display: flex;
    margin-top: 65px;
    margin-bottom: 50px;
}

.desc-guide-item {
    width: calc(100% / 3);
    position: relative;
}

.desc-guide-item__icon {
    color: #3b3c45;
    font-size: 4rem;
}

.desc-guide-item__childIcon {
    position: absolute;
    font-size: 1.9rem;
}

.desc-guide-item__childIcon--topCenter {
    left: 45%;
    top: -1.2rem;
    padding: 0.5rem;
    color: white;
    background: #f7a804;
    border-radius: 50%;
}
.desc-guide-item__childIcon--bottomCenter {
    left: 50%;
    transform: translateX(-50%);
    bottom: 5.8rem;
    padding: 0.5rem;
    color: white;
    background: #f7a804;
    border-radius: 50%;
}
.item__childIcon--bottomRight {
    left: 53%;
    bottom: 67px;
    background: #f7a804;
    color: white;
    padding: 0.5rem;
    border-radius: 50%;
}

.desc-guide-item__name {
    font-size: 2rem;
    color: #3b3c45;
    margin-top: 26px;
    margin-bottom: 10px;
}

.desc-guide-item__instruc {
    font-size: 1.4rem;
    color: #0689ff;
    position: relative;
}

.desc-guide-item__instruc__icon {
    position: absolute;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    right: 5.4rem;
}

.desc__link {
    padding: 15px 25px;
    font-size: 1.3rem;
}

/*! FEATURE */
#feature {
    height: 72.7rem;
    background-color: #f5fafe;
}

.feature-content {
    margin-top: 110px;
}

.feature__heading {
    font-size: 3.5rem;
    font-weight: 600;
    color: #000339;
    position: relative;
}

.feature__heading::before {
    content: "";
    display: block;
    position: absolute;

    width: 4.1rem;
    height: 0.4rem;
    background-color: #000339;

    left: 0;
    top: -1rem;
    border-radius: 8px;
}

.feature-more {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.feature-more__desc {
    color: #5a6473;
    font-weight: 400;
    font-size: 1.4rem;
}

.feature-more__link {
    color: #0689ff;
    font-weight: 600;
    font-size: 1.8rem;
    text-decoration: none;
}

.feature-wrap {
    margin-top: 68px;
    display: flex;
}

.feature-wrap-item {
    width: calc(100% / 3);
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 8px 8px 23px -7px rgb(0 0 0 / 33%);
}

.feature-wrap-item + .feature-wrap-item {
    margin-left: 30px;
}

.feature-wrap-item__img {
    width: 100%;
    display: block;
}

.feature-wrap-item-content {
    /* padding: 15px 20px 25px; */
    padding: 20px;
}

.feature-wrap-item-content__title {
    font-weight: 600;
    font-size: 2rem;
    color: #000339;
}

.feature-wrap-item-content__text {
    font-size: 1.4rem;
    color: #a3a6ab;
    margin: 10px 0 20px;
}

.feature-wrap-item-content-desc {
    display: flex;
}

.feature-wrap-item-content-desc__icon {
    color: #0688ff;
}

.feature-wrap-item-content-desc__text {
}

.feature-wrap-item-content-desc__icon + .feature-wrap-item-content-desc__text {
    margin-left: 10px;
}

.feature-wrap-item-content-desc__text + .feature-wrap-item-content-desc__icon {
    margin-left: 20px;
}

/*! NEWS */
#news {
    height: 119.9rem;
}

.news-data {
    display: flex;
    justify-content: space-between;
}

.news-content {
    display: flex;
    margin-top: 125px;
    justify-content: space-between;
}

.news-content-wrapImg {
    position: relative;
}

.news-content-wrapImg__img {
}

.news-content-wrapImg-layer {
    position: absolute;
}

.news-content-wrapImg-layer-title {
    font-weight: 700;
    font-size: 2.6rem;
    color: #000339;
}

.news-content-wrapImg-layer-title__img {
    margin-left: 60px;
}

.news-content-wrapImg-layer__text {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-top: 8px;
    color: #a7a7a7;
}

.news-content-wrapImg-layer-avatar {
}

.news-content-heading {
    margin-top: 130px;
    max-width: 32rem;
}

.news-content-heading__title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 4.5rem;
    color: #000339;
    position: relative;
}

.news-content-heading__title::before {
    content: "";
    display: block;
    position: absolute;

    width: 4.1rem;
    height: 0.4rem;
    background-color: #000339;

    left: 0;
    top: -1rem;
    border-radius: 8px;
}

.news-content-heading__text {
    font-size: 1.6rem;
    margin-top: 20px;
    line-height: 3rem;
    color: #5a6473;
    /* text-align: justify; */
}

.news-data-item {
    margin-top: 110px;
}

.news-data-item__title {
    font-size: 6.4rem;
    font-weight: 600;
}

.news-data-item__text {
    color: #7b8087;
    font-weight: 1.8rem;
    margin-top: 24px;
    margin-bottom: 100px;
}

/*! FOOTER */
#footer {
    height: 42.9rem;
}
