* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: #e6f0ff;
}

.colored {
    background-color: var(--main-color);
}

#header {
    height: 73.6rem;
}
.content {
    min-width: 111rem;
}

#logo {
    height: 31.2rem;
}

#description {
    height: 58.5rem;
}
