* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: #e6f0ff;
}

/*! COMMON */
.colored {
    background-color: var(--main-color);
}

.content {
    min-width: 111rem;
}

.logo {
}

/*! HEADER */
#header {
    height: 73.6rem;
}

.nav {
    display: flex;
    margin-top: 38px;
}

.nav-list {
}

.nav-list__item {
}

.nav-account {
}

.nav-account__signin {
}

.nav-account__signup {
}

/*! LOGO */
#client-logo {
    height: 31.2rem;
}

/*! DESCRIPTION */
#description {
    height: 58.5rem;
}

/*! FEATURE */
#feature {
    height: 158.7rem;
}

/*! NEWS */
#new {
    height: 40.9rem;
}

/*! FOOTER */
#footer {
    height: 42.9rem;
}
