* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* 1110px */

.content {
    min-width: 111rem;
}

.content--colored {
    background-color: #e6f0ff;
}
