* {
    box-sizing: border-box;
}
html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

/*! COMMON */
main {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.small-content {
    width: 685px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.medium-content {
    width: 1017px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 13px 16px;

    background: #0f1b4c;
    color: #ffffff;
    border-radius: 12px;
    text-align: center;
    transition: all 0.1s linear;
}

.btn:hover {
    background-color: rgba(15, 27, 76, 0.8);
}

/*! HEADER */
#header {
    height: 100vh;
    background-color: #e6f0ff;
    position: relative;
}

.header-nav {
    display: flex;
    margin-top: 38px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.header-nav-list {
    display: flex;
    margin-left: -287px;
    position: relative;
}

.header-nav-list__item--hover {
    width: 0;
    height: 2px;
    border-radius: 999px;
    background-color: #0f1b4c;
    position: absolute;
    left: 10px;
    bottom: -5px;
    transition: all 0.12s linear;
}

.header-nav-list__item__link {
    line-height: 1.5;
    color: #4f5361;
    padding: 18px 14px;
    transition: all 0.12s linear;
}

/* .header-nav-list__item__link:hover {
    color: #0f1b4c;
    font-weight: 600;
} */

.header-nav-account {
    display: flex;
}

.header-nav-account__link {
    color: #0f1b4c;
    line-height: 40px;
    padding-right: 18px;
    padding-left: 18px;
}

.header-nav-account__btn {
    border-radius: 8px;
}

.header-hero {
    margin-top: 130px;
    max-width: 52%;
}

.header-hero__subTitle {
    font-size: 1.8rem;
    color: #687690;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.header-hero__title {
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.1875;
    margin: 8px 0 30px 0;
    color: #000336;
}

.header-hero__desc {
    font-size: 1.8rem;
    line-height: 1.78;
    font-weight: 400;
    color: #5a6473;
}

.header-hero__link {
    font-size: 1.3rem;
    padding: 15px 37.5px;
    margin-top: 40px;
    line-height: 1.54;
}

.header__img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/*! CLIENT */
#client {
    height: 312px;
    margin-top: 79px;
}

.client-wrap {
    margin-top: 43px;
}

.client-infor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-infor + .client-infor {
    margin-top: 24px;
}

.client-infor-wrap__item {
    display: inline-block;
    width: 20.3px;
    height: 18.85px;
    color: #ffca56;
}

.client-infor__text {
    font-size: 1.6rem;
    color: #7d8589;
    line-height: 1.25;
}

.client-logo {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.client-logo__item {
    padding: 28px 35px 23px;
    background: #ffffff;
    border-radius: 12px;
    /* box-shadow: 0px 1px 20px -3px rgb(0 0 0 / 33%); */
}

.client-logo__item--select {
    box-shadow: 0px 1px 20px -3px rgb(0 0 0 / 33%);
}

/*! DESCRIPTION */
#desc {
    height: 489px;
}

.desc-wrap {
    text-align: center;
}

.desc-header {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.desc-header__heading {
    font-size: 3.5rem;
    font-weight: 600;
    color: #000339;
    position: relative;
    line-height: 1;
}

.desc-header__heading::before {
    content: "";
    display: block;
    position: absolute;

    width: 41px;
    height: 4px;
    background-color: #000339;

    left: 50%;
    top: -10px;
    transform: translateX(-50%);
    border-radius: 8px;
}

.desc-header__text {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 20px;
    color: #5a6473;
    line-height: 1.88;
}

.desc-guide {
    display: flex;
    margin-top: 40px;
    margin-bottom: 35px;
}

.desc-guide-item {
    width: calc(100% / 3);
    position: relative;
}

.desc-guide-item + .desc-guide-item {
    margin-left: 75px;
}

.desc-guide-item__name {
    line-height: 1.1;
    font-size: 2rem;
    color: #3b3c45;
    margin-top: 24px;
    margin-bottom: 10px;
}

.desc-guide-item__instruc {
    color: #0689ff;
    position: relative;
    font-weight: 600;
    line-height: 1.5;
}

.desc-guide-item__instruc__icon {
    position: absolute;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
}

.desc__link {
    padding: 15px 25px;
    font-size: 1.3rem;
    line-height: 1.54;
}

/*! FEATURE */
#feature {
    height: 727px;
    background-color: #f5fafe;
}

.feature-content {
    margin-top: 110px;
}

.feature__heading {
    font-size: 3.5rem;
    font-weight: 600;
    color: #000339;
    position: relative;
    line-height: 1;
}

.feature__heading::before {
    content: "";
    display: block;
    position: absolute;

    width: 41px;
    height: 4px;
    background-color: #000339;

    left: 0;
    top: -10px;
    border-radius: 8px;
}

.feature-more {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.feature-more__desc {
    color: #5a6473;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.875;
}

.feature-more__link {
    color: #0689ff;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
}

.feature-wrap {
    margin-top: 70px;
    display: flex;
}

.feature-wrap-item {
    width: calc(100% / 3);
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 1px 20px -3px rgb(0 0 0 / 33%);
}

.feature-wrap-item + .feature-wrap-item {
    margin-left: 30px;
}

.feature-wrap-item__img {
    width: 100%;
    height: 227px;
    display: block;
    object-fit: cover;
    border-radius: 12px;
}

.feature-wrap-item-content {
    padding: 17px 20px 24px;
}

.feature-wrap-item-content__heading {
    font-weight: 600;
    font-size: 2rem;
    color: #000339;
    line-height: 1;
}

.feature-wrap-item-content__text {
    color: #a3a6ab;
    margin: 10px 0 25px;
    line-height: 1.5;
    word-break: break-all;
}

.feature-wrap-item-content-desc {
    display: flex;
}

.feature-wrap-item-content-desc__icon {
    color: #0688ff;
    display: block;
}

.feature-wrap-item-content-desc__text {
    text-align: center;
    line-height: 1.285;
    color: #4d4d52;
}

.feature-wrap-item-content-desc__icon + .feature-wrap-item-content-desc__text {
    margin-left: 10px;
}

.feature-wrap-item-content-desc__text + .feature-wrap-item-content-desc__icon {
    margin-left: 20px;
}

/*! NEWS */
#news {
    height: 785px;
}

.news-data {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.news-content {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.news-content-wrapImg {
    width: 51.13%;
    position: relative;
    margin-left: 80px;
}

.news-content-wrapImg__img {
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.news-content-wrapImg-layer {
    width: 239px;
    height: 252px;
    background-color: #fff;
    box-shadow: 0px 1px 20px -3px rgb(0 0 0 / 33%);
    border-radius: 8px;
    padding: 45px 22px;
    position: absolute;
    top: 0;
    left: -50%;
    transform: translateX(+50%);
}

.news-content-wrapImg-layer-title {
    font-weight: 700;
    font-size: 2.6rem;
    color: #000339;
}

.news-content-wrapImg-layer-title__img {
    margin-left: 50px;
}

.news-content-wrapImg-layer__text {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 8px 0 35px;
    color: #a7a7a7;
}

.news-content-wrapImg-layer-avatar {
    position: absolute;
    display: flex;
    gap: 16px 18px;
    flex-wrap: wrap;
    align-items: center;
}

.news-content-wrapImg-layer-avatar::before {
    content: "";
    display: block;
    position: absolute;

    height: 1.2px;
    background-color: #e9e9e9;

    width: 195px;
    top: -15px;
    border-radius: 8px;
}

.news-content-wrapImg-layer-avatar-group {
    display: flex;
}

.news-content-wrapImg-layer-avatar-group__item {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
    text-align: center;
    color: white;
    line-height: 2.204;

    font-weight: 450;
    font-size: 0.726076rem;
}

.news-content-heading {
    margin-top: 130px;
    margin-right: 52px;
    width: 31%;
}

.news-content-heading__title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.28;
    color: #000339;
    position: relative;
}

.news-content-heading__title::before {
    content: "";
    display: block;
    position: absolute;

    width: 41px;
    height: 4px;
    background-color: #000339;

    left: 0;
    top: -10px;
    border-radius: 8px;
}

.news-content-heading__text {
    font-size: 1.6rem;
    margin-top: 20px;
    line-height: 1.88;
    color: #5a6473;
    font-weight: 400;
}

.news-data-item__title {
    font-size: 6.4rem;
    font-weight: 600;
}

.news-data-item__text {
    color: #7b8087;
    font-size: 1.8rem;
    margin-top: 24px;
}

/*! subScription */
#subScription {
    height: 429px;
    overflow: hidden;
}

.subScription-img {
    width: 100%;
    height: 370px;
    border-radius: 20px;
    color: white;
    position: relative;
    background-color: #063183;
    display: flex;
    margin-top: 59px;
}

.subScription-img-subscribe {
    margin: 110px 80px;
    margin-top: 110px;
}

.subScription-img__title {
    font-weight: 600;
    font-size: 3.5rem;
}

.subScription-img__text {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 20px;
}

.subScription-img__link {
    padding: 14px 42px;
    color: #063183;
    background-color: white;
    display: inline-block;
    border-radius: 12px;
}

.subScription-img__home {
    position: absolute;
    bottom: 0px;
    right: 20%;
}

/*! FOOTER */
#footer {
    height: 429px;
    /* margin-top: 55px; */
    padding-bottom: 58px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer-list__item {
    max-width: 260px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #7a7a7e;
}

.footer-list__item + .footer-list__item {
    margin-top: 18px;
}

.footer-list__item--title {
    font-size: 2rem;
    font-weight: 700;
    color: #1c1c1d;
}

.footer-list__item--title + .footer-list__item {
    margin-top: 42px;
}

.footer-list__item__icon {
    width: 28px;
    height: 28px;
    line-height: 2;
    text-align: center;
    border-radius: 8px;
    color: #646464;
    background-color: #f9f9f9;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 81px;
}

.footer-copyright__text {
    font-weight: 400;
    font-size: 1.4rem;
    color: #c2c2c2;
    line-height: 1.7;
}
